<template name="index">
	<head>
		
        <meta charset="UTF-8">
		<title>Bienvenue sur Diagons Alley </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="index.css" />
        <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Aguafina+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Aguafina+Script' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
	</head>
 
    <header>
        <div id="menu">
            <div id="nom_site">Diagons Alley</div>
        </div>
    </header>
      <div class="col xs-12 col-md-12" style="height: 150px;">
            <div class="row"></div>
        </div>
    <body>
      	
        
        <div class="col-xs-12 col-md-12">
					<div class="row">
						<div class="col-md-12 col-xs-12 col-md-7">
        <div class="cadre" style="overflow: auto;">
            <h1>Bienvenue sur Diagons Alley</h1><br />
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sollicitudin lorem, id tempus libero faucibus in. Pellentesque tincidunt lacinia sapien, vitae gravida magna congue non. Praesent tristique suscipit dolor, a vehicula diam malesuada non. Vestibulum cursus dignissim augue at porttitor. Nunc efficitur leo sodales, malesuada metus quis, fringilla quam. Nullam vitae nibh ultricies, scelerisque turpis tincidunt, feugiat lacus. Aenean et pretium nisl. Aenean commodo tortor vel arcu cursus, vitae mattis nisl feugiat. Vivamus purus nisl, volutpat a nunc a, pulvinar aliquet tortor. Integer vitae purus fermentum, semper purus ut, porta justo. Nunc in interdum diam. Aliquam iaculis aliquet nibh quis hendrerit. Vestibulum ac orci neque. Fusce pellentesque ex nulla, eget dapibus urna aliquam eu. Curabitur ac eros sagittis, facilisis neque sit amet, lobortis risus. <br /> <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sollicitudin lorem, id tempus libero faucibus in. Pellentesque tincidunt lacinia sapien, vitae gravida magna congue non. Praesent tristique suscipit dolor, a vehicula diam malesuada non. Vestibulum cursus dignissim augue at porttitor. Nunc efficitur leo sodales, malesuada metus quis, fringilla quam. Nullam vitae nibh ultricies, scelerisque turpis tincidunt, feugiat lacus. Aenean et pretium nisl. Aenean commodo tortor vel arcu cursus, vitae mattis nisl feugiat. Vivamus purus nisl, volutpat a nunc a, pulvinar aliquet tortor. Integer vitae purus fermentum, semper purus ut, porta justo. Nunc in interdum diam. Aliquam iaculis aliquet nibh quis hendrerit. Vestibulum ac orci neque. Fusce pellentesque ex nulla, eget dapibus urna aliquam eu. Curabitur ac eros sagittis, facilisis neque sit amet, lobortis risus. 
                            </div></div>
                        
                        <div class="col-md-12 col-xs-12 col-md-5">
        <div class="cadre">
        <h1>Quelques images...</h1><br>
             <div class="col-md-12 col-xs-12 col-md-12" style="margin-right: 10px; "> 
                 
             <div class="col-md-5 col-xs-5 col-md-5" style="margin-right: 10px; "> <img src="http://vignette3.wikia.nocookie.net/harrypotter/images/4/4e/B1C12M1.jpg/revision/latest/window-crop/width/200/x-offset/141/y-offset/0/window-width/1001/window-height/500?cb=20120417160225&path-prefix=fr" id="vignette" />  </div>
            
                 <div class="col-md-1 col-xs-1 col-md-1" style="margin-right: -10px; "></div>
                 
              <div class="col-md-5 col-xs-5 col-md-5" style="margin-right: 10px; "> <img src="http://vignette3.wikia.nocookie.net/harrypotter/images/4/4e/B1C12M1.jpg/revision/latest/window-crop/width/200/x-offset/141/y-offset/0/window-width/1001/window-height/500?cb=20120417160225&path-prefix=fr" id="vignette" />  </div>
                 
                 
              <div class="col-md-5 col-xs-5 col-md-5" style="margin-right: 10px; "> <img src="http://vignette3.wikia.nocookie.net/harrypotter/images/4/4e/B1C12M1.jpg/revision/latest/window-crop/width/200/x-offset/141/y-offset/0/window-width/1001/window-height/500?cb=20120417160225&path-prefix=fr" id="vignette" />  </div>
                 
                 <div class="col-md-1 col-xs-1 col-md-1" style="margin-right: -10px; "></div>
            
               <div class="col-md-5 col-xs-5 col-md-5" style="margin-right: 10px; "> <img src="http://vignette3.wikia.nocookie.net/harrypotter/images/4/4e/B1C12M1.jpg/revision/latest/window-crop/width/200/x-offset/141/y-offset/0/window-width/1001/window-height/500?cb=20120417160225&path-prefix=fr" id="vignette" />  </div>
                 </div>
            
            
           
         <center>   <input type="button" value="JE SOUHAITE M'INSCRIRE!" style="border-radius: 10px; box-shadow: 1px 0px 10px black; background-color: black; padding: 15px; border: none; color: #F7F0DE;  font-family: 'Julius Sans One', sans-serif;  margin-top: 5px;" /></center>
        </div>
                        </div>
        </div></div>
    </body>
    
    <footer>
        <div id="footer"><a href="#connexion">REPRENDRE le jeu</a> - <a href="inscription.php">PASSER LE SERMENT INVIOLABLE</a></div>
    </footer>  
</template>